@font-face {
    font-family: roboto-r;
    src: url('/fonts/Roboto-Regular.ttf');
}

*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--lightenedBlack: #1f1c21;
	--lightPurple: #302d43;
	--coolPurple: #533872;
	--darkPurple: #282639;
	--gray: #eee;
}

body{
	background-color: var(--coolPurple);
	width: 100vw;
	height: 100vh;
	max-height: -webkit-fill-available;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans';
	/* font-family: roboto-r; */
	/* font-family: 'Open Sans', roboto-r, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

/* font-family: 'Open Sans', sans-serif; */

main{
	background: linear-gradient(45deg, #2826388c, transparent);
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	padding: 0 2rem;
}

#app-name{
	color: var(--gray);
	text-align: center;
}

#controls{
	display: flex;
	justify-content: space-between;
}

#controls > *, 
.button{
	padding: 0.5rem;
	vertical-align: middle;
	text-align: center;
	/* width: max-content;
	wid */
	width: 100%;
	font-weight: bold;
	outline: none;
	border: none;
	background-color: var(--coolPurple);
	box-shadow: 0 0.3rem 0.4rem rgba(13, 12, 14, 0.4);
	color: var(--gray);
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.1s ease-in;
	line-height: 1.5rem;
}


#controls > *:hover,
.button:hover{
	/* box-shadow: 0 0.5rem 0.5rem rgba(13, 12, 14, 0.1); */
	transform: scale(1.1);
	/* transform: scale(0.9); */
}

#controls .count-down{
	/* border-radius: 50%; */
}

#word-stream{
	background-color: #2826396b;
	color: #eee;
	padding: 0.5rem 1rem;
}

#word-stream marquee{
	visibility: hidden;
}

#word-stream marquee.show{
	visibility: visible;
}

#form{
	display: flex;
	flex-flow: column;
}

#form .typing-area{
	margin-bottom: 1rem;
	background-color: #2826396b;
	outline: none;
	border: none;
	color: #eee;
	padding: 1rem;
	font-family: 'Open Sans';
	font-size: 1rem;
	border: 0.1rem solid transparent;
	/* animation: error 0.25s linear 2; */
}

@keyframes error {
	0%{
		transform: translateX(initial);
		border-color: red;
	}
	30%{
		transform: translateX(0.5rem)
	}
	60%{
		transform: translateX(-0.5rem)
	}
	100%{
		transform: translateX(initial)
	}
}

#form .typing-area:focus{
	border: 0.1rem solid var(--coolPurple);
}

#form .typing-area::placeholder{
	color: #ccc;
}

#form button{
	width: 100%;
}

#settings{
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(13, 12, 14, 0.7);
	color: white;
	padding: 1rem;
	/* display: none; */
	/* height: 0; */
	transform: translateY(-100%);
	transition: all 0.25s linear;
}

#settings:target{
	/* display: block; */
	transform: translateY(0%);
}

#settings article{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: table;
	width: 20rem;
	padding: 1rem;
}

#settings h1{
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

#settings select{
	background-color: var(--coolPurple);
	color: white;
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.2rem;
	outline: none;
	border-color: transparent;
	font-size: 1rem;
}

#settings option{
	background-color: transparent !important;
	font-size: 1rem;
}

#settings div{
	/* display: table-row; */
	/* margin-bottom: 1rem; */
	margin-bottom: 1.5rem;
}

#settings span, #settings select{
	display: table-cell;
}


/* Small (sm) devices (landscape phones, 567px and up) */
@media screen and (min-width: 568px){
	:root{
		/* --bg-color: #222; */
		/* font-size: 22px;  */
	}
}

/* Medium (md) devices (tablets, 768px and up) */
@media screen and (min-width: 768px){
	:root{
		/* --bg-color: #333; */
		/* font-size: 24px; */
	}
	main{
		/* padding: 0 5rem; */
		width: 25vw;
	}
}

/* Large (lg) devices (desktops, 992px and up) */
@media screen and (min-width: 992px){
	:root{
		/* --bg-color: violet; */
		/* font-size: 30px; */
	};
}

/* Extra (xl) devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px){
	:root{
		/* --bg-color: violet; */
		/* font-size: 40px; */
	};
}